@model Pet_Management_System.Models.OrderedProduct
@using Pet_Management_System.Models
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "FinishReturn";
}
<style>
   

    ul {
        list-style: none;
        margin-bottom: 0px
    }

    .button {
        display: inline-block;
        background: #0e8ce4;
        border-radius: 5px;
        height: 48px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease
    }

        .button a {
            display: block;
            font-size: 18px;
            font-weight: 400;
            line-height: 48px;
            color: #FFFFFF;
            padding-left: 35px;
            padding-right: 35px
        }

        .button:hover {
            opacity: 0.8
        }

    .cart_section {
        width: 100%;
        padding-top: 93px;
        padding-bottom: 111px
    }

    .cart_title {
        font-size: 30px;
        font-weight: 500
    }

    .cart_items {
        margin-top: 8px
    }

    .cart_list {
        border: solid 1px #e8e8e8;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
        background-color: #fff
    }

    .cart_item {
        width: 100%;
        padding: 15px;
        padding-right: 46px
    }

    .cart_item_image {
        width: 133px;
        height: 133px;
        float: left
    }

        .cart_item_image img {
            max-width: 100%
        }

    .cart_item_info {
        width: calc(100% - 133px);
        float: left;
        padding-top: 18px
    }

    .cart_item_name {
        margin-left: 7.53%
    }

    .cart_item_title {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0,0,0,0.5)
    }

    .cart_item_text {
        font-size: 18px;
        margin-top: 35px
    }

        .cart_item_text span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 11px;
            -webkit-transform: translateY(4px);
            -moz-transform: translateY(4px);
            -ms-transform: translateY(4px);
            -o-transform: translateY(4px);
            transform: translateY(4px)
        }

    .cart_item_price {
        text-align: right
    }

    .cart_item_total {
        text-align: right
    }

    .order_total {
        width: 100%;
        height: 60px;
        margin-top: 30px;
        border: solid 1px #e8e8e8;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
        padding-right: 46px;
        padding-left: 15px;
        background-color: #fff
    }

    .order_total_title {
        display: inline-block;
        font-size: 14px;
        color: rgba(0,0,0,0.5);
        line-height: 60px
    }

    .order_total_amount {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        margin-left: 26px;
        line-height: 60px
    }

    .cart_buttons {
        margin-top: 60px;
        text-align: right
    }

    .cart_button_clear {
        display: inline-block;
        border: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        color: rgba(0,0,0,0.5);
        background: #FFFFFF;
        border: solid 1px #b2b2b2;
        padding-left: 35px;
        padding-right: 35px;
        outline: none;
        cursor: pointer;
        margin-right: 26px
    }

        .cart_button_clear:hover {
            border-color: #0e8ce4;
            color: #0e8ce4
        }

    .cart_button_checkout {
        display: inline-block;
        border: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        color: #FFFFFF;
        padding-left: 35px;
        padding-right: 35px;
        outline: none;
        cursor: pointer;
        vertical-align: top
    }
    #signature-pad {
        width: 400px;
        height: 200px;
        border: 5px solid black;
    }

    #drivSignature-pad {
        width: 400px;
        height: 200px;
        border: 5px solid black;
    }
</style>
<section class="w3l-index-about py-5" id="about2">
    <div class="container py-md-5 py-2">
        <h2>FinishReturn</h2>
        @{
            HttpCookie cookie = Request.Cookies["OrdID"];

            string ordId = cookie.Value;
            int id = int.Parse(ordId);

            var order = db.Orderedproducts.Where(x => x.CustomerOrderId == id).ToList();


        }
        
            <div class="row">

                <div class="cart_section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="cart_container">
                                    <div class="cart_title">Please Confirm that the returned order contains these items<small>  </small></div>
                                    @foreach (var item in order)
                                    {
                                        <div class="cart_items">
                                            <ul class="cart_list">
                                                <li class="cart_item clearfix">
                                                    <div class="cart_item_image"><img style="width:100%;height:100%" src="~/assets/images/@item.Product.picture" alt=""></div>
                                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                                        <div class="cart_item_name cart_info_col">
                                                            <div class="cart_item_title">Name</div>
                                                            <div class="cart_item_text">@item.Product.Name</div>
                                                        </div>

                                                        <div class="cart_item_quantity cart_info_col">
                                                            <div class="cart_item_title">Quantity</div>
                                                            <div class="cart_item_text">@item.Quantity</div>
                                                        </div>
                                                        <div class="cart_item_price cart_info_col">
                                                            <div class="cart_item_title">Price</div>
                                                            <div class="cart_item_text">R @item.Product.Price</div>
                                                        </div>
                                                        <div class="cart_item_total cart_info_col">
                                                            <div class="cart_item_title">Total</div>
                                                            @{decimal tot = item.Product.Price * item.Quantity;}
                                                            <div class="cart_item_text">R @tot</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    <div class="order_total">
                                        <div class="order_total_content text-md-right">
                                            <div class="order_total_title">Order Total:</div>
                                            <div class="order_total_amount">R @order.FirstOrDefault().CustomerOrder.Amount</div>
                                        </div>
                                    </div>

                                </div>
                                <form id="noResponseForm" action="@Url.Action("FinishReturn", "DriverAssignments")" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                    <p>Customer Signature:</p>
                                                    <div id="signatureContainer" style="position: relative;">
                                                        <canvas id="signature-pad" width="500" height="200"></canvas>
                                                    </div>
                                                    <input type="hidden" id="signature-data" name="custSignature" value="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                    <p>Driver Signature:</p>
                                                    <div id="signatureContainer" style="position: relative;">
                                                        <canvas id="drivSignature-pad" width="500" height="200"></canvas>
                                                    </div>
                                                    <input type="hidden" id="Drivsignature-data" name="drivSignature" value="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        <button type="submit" class="btn btn-primary" id="save-btn">Submit </button>

                                        <button type="submit" class="btn btn-danger" id="save-btn"  onclick="Decline(@order.FirstOrDefault().CustomerOrderId)">Decline Return </button>

                                
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
      
            
        </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize the signature pad
        var canvas = document.getElementById('signature-pad');
        var drivCanvas = document.getElementById('drivSignature-pad');

        var signaturePad = new SignaturePad(canvas);
        var drivSignaturePad = new SignaturePad(drivCanvas);


        // Handle the save button click event
        $('#save-btn').click(function () {
            // Get the signature data URL and set it as a hidden field value
            var signatureData = signaturePad.toDataURL();
            var dirvSignatureData = drivSignaturePad.toDataURL();

            $('#signature-data').val(signatureData);
            $('#Drivsignature-data').val(dirvSignatureData);


            // Submit the form
            $('form').submit();
        });


    });


     function Decline(id) {
 var reason = prompt("Please enter reason for declining:");

 if (reason !== null) {

     alertify.confirm('Decline Order Return', 'Are you sure you want decline picking up this order for return with reason: ' + reason, function () {

         window.location.href = '@Url.Action("DeclineReturnDriv", "OrderedProducts")/' + id + '?reason=' + encodeURIComponent(reason);
        }, null);
        }
}
</script>
